{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css" />
{% endblock %}

{% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <h3 class="white-text mt-3">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </h3>
                <p class="white-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
                <div class="row mt-5">
                    <div class="col-12 col-md-6 col-xl-6">
                        <img src="/assets/images/tenet.jpg" alt="" width="100%">
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="ms-3 mt-3">
                            <h5 class="white-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </h5>
                            <h5 class="white-text mt-3">
                                Lorem, ipsum, dolor
                            </h5>
                            <p class="white-text mt-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Quisque quis facilisis velit.
                                Nunc justo lorem, feugiat molestie faucibus ac, consequat nec magna.
                            </p>
                            <div class="rating mt-5">
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="far fa-star"></i>
                                <span class="white-text ms-3">Lorem ipsum dir amet</span>
                            </div>
                            <button type="button" class="btn btn-light mt-5">
                                Lorem ipsum
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <h3 class="white-text mt-3">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </h3>
                <p class="white-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
                <div class="row mt-5">
                    <div class="col-12 col-md-6 col-xl-6">
                        <img src="/assets/images/tenet.jpg" alt="" width="100%">
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="ms-3 mt-3">
                            <h5 class="white-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </h5>
                            <h5 class="white-text mt-3">
                                Lorem, ipsum, dolor
                            </h5>
                            <p class="white-text mt-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Quisque quis facilisis velit.
                                Nunc justo lorem, feugiat molestie faucibus ac, consequat nec magna.
                            </p>
                            <div class="rating mt-5">
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="far fa-star"></i>
                                <span class="white-text ms-3">Lorem ipsum dir amet</span>
                            </div>
                            <button type="button" class="btn btn-light mt-5">
                                Lorem ipsum
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <h3 class="white-text mt-3">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </h3>
                <p class="white-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </p>
                <div class="row mt-5">
                    <div class="col-12 col-md-6 col-xl-6">
                        <img src="/assets/images/tenet.jpg" alt="" width="100%">
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                        <div class="ms-3 mt-3">
                            <h5 class="white-text">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </h5>
                            <h5 class="white-text mt-3">
                                Lorem, ipsum, dolor
                            </h5>
                            <p class="white-text mt-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Quisque quis facilisis velit.
                                Nunc justo lorem, feugiat molestie faucibus ac, consequat nec magna.
                            </p>
                            <div class="rating mt-5">
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="fas fa-star white-text"></i>
                                <i class="far fa-star"></i>
                                <span class="white-text ms-3">Lorem ipsum dir amet</span>
                            </div>
                            <button type="button" class="btn btn-light mt-5">
                                Lorem ipsum
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="/assets/js/home.js"></script>
{% endblock %}
