{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/assets/css/movie.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card shadow mt-3 p-3">
                <div class="card-body">
                    <div class="row">
                        <h5>Filter by genre</h5>
                        <div class="form-check">
                            {% for g in genres %}
                                <input class="btn-check" name="genre" type="checkbox" value="{{ g }}" id="{{ g.lower() }}"/>
                                <label class="btn btn-outline-secondary mt-2" for="{{ g.lower() }}">
                                    {{ g }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <h5>Filter by year</h5>
                        <div class="form-check">
                            <input class="btn-check" name="year" type="checkbox" value="2020s" id="2020s"/>
                            <label class="btn btn-outline-secondary mt-2" for="2020s">
                                2020s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="2010s" id="2010s"/>
                            <label class="btn btn-outline-secondary mt-2" for="2010s">
                                2010s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="2000s" id="2000s"/>
                            <label class="btn btn-outline-secondary mt-2" for="2000s">
                                2000s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="1990s" id="1990s"/>
                            <label class="btn btn-outline-secondary mt-2" for="1990s">
                                1990s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="1980s" id="1980s"/>
                            <label class="btn btn-outline-secondary mt-2" for="1980s">
                                1980s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="1970s" id="1970s"/>
                            <label class="btn btn-outline-secondary mt-2" for="1970s">
                                1970s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="1960s" id="1960s"/>
                            <label class="btn btn-outline-secondary mt-2" for="1960s">
                                1960s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="1950s" id="1950s"/>
                            <label class="btn btn-outline-secondary mt-2" for="1950s">
                                1950s
                            </label>

                            <input class="btn-check" name="year" type="checkbox" value="b1950" id="b1950"/>
                            <label class="btn btn-outline-secondary mt-2" for="b1950">
                                Before 1950
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-apply">
                        Apply
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-5" id="row-movie">
            <div class="text-center spinner visually-hidden">
                <div class="spinner-border text-blue m-5" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            {% for movie in movies %}
                <div class="col-12 col-lg-3 col-md-3 mb-3 movie">
                    <div class="card">
                        <img src="{{ movie.basic.image_url }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                {{ movie.basic.original_title }}
                            </p>
                        </div>
                        <a href="/detail/{{ movie.basic.title_id }}" class="stretched-link" target="_blank"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav class="visually-hidden nav-pagination mb-5">
            <ul class="pagination ul-pagination">
            </ul>
        </nav>
    </div>
{% endblock %}

{% block script %}
    <script src="/assets/js/movie.js"></script>
{% endblock %}
