{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/assets/css/title.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card shadow mt-3 p-3">
                <div class="card-body">
                    <div class="row">
                        <h4>Filter at your pleasure</h4>
                        <p class="fs-6">You can filter series' at your pleasure. Enjoy it!</p>
                        <h5 class="mt-2">Filter by genre</h5>
                        <div class="form-check">
                            {% for g in genres %}
                                <input class="btn-check" name="genre" type="checkbox" value="{{ g }}" id="{{ g.lower() }}"/>
                                <label class="btn btn-outline-secondary mt-2" for="{{ g.lower() }}">
                                    {{ g }}
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-check mt-3 ms-4">
                            <input class="form-check-input" type="checkbox" value="" id="exact-match">
                            <label class="form-check-label" for="exact-match">
                                Exact match
                            </label>
                            <i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-animation="false" data-bs-html="true" data-bs-title="If you tick the <i>Exact match</i>, the series' will include all of the genres you select.<br>Otherwise, you will see series' that match at least one of the genres you selected."></i>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <h5>Filter by year</h5>
                        <div class="form-check">
                            {% for i in range(2029, 1939, -10) %}
                                {% set button_text = (i - 9) | string + 's' %}

                                {% if i == 1949 %}
                                    {% set button_text = 'Before 1950' %}
                                {% endif %}

                                <input class="btn-check" name="year" type="checkbox" value="{{ i }}" id="{{ i }}s"/>
                                <label class="btn btn-outline-secondary mt-2" for="{{ i }}s">
                                    {{ button_text }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <h5>Filter by IMDB score</h5>
                        <div class="form-check">
                            {% for i in f_range(5, 9.5, 0.5) %}
                                <input class="btn-check" name="score" type="radio" value="{{ i }}" id="{{ i }}+"/>
                                <label class="btn btn-outline-secondary mt-2" for="{{ i }}+">
                                    {{ i }}+
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <h5>Filter by number of votes</h5>
                        <div class="form-check">
                            {% for i in range(5000, 30000, 5000) %}
                                <input class="btn-check" name="num_votes" type="radio" value="{{ i }}" id="{{ i }}+"/>
                                <label class="btn btn-outline-secondary mt-2" for="{{ i }}+">
                                    {{ i }}+
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" name="type" value="series">
                    <button type="button" class="btn btn-primary btn-apply">
                        Apply
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-5" id="row-movie">
            <div class="text-center spinner visually-hidden">
                <div class="spinner-border text-blue m-5" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            {% for movie in movies %}
                <div class="col-12 col-lg-3 col-md-3 mb-3 movie">
                    <div class="card">
                        <img src="/static/images/{{ movie.basic.title_id }}.webp" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">
                                {{ movie.basic.original_title }}
                            </p>
                        </div>
                        <a href="/detail/{{ movie.basic.title_id }}" class="stretched-link" target="_blank"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav class="visually-hidden nav-pagination mb-5">
            <ul class="pagination ul-pagination"></ul>
        </nav>
    </div>
{% endblock %}

{% block script %}
    <script src="/assets/js/title.js"></script>
{% endblock %}
