body, 
.carousel, 
.carousel-inner, 
.carousel-inner .carousel-item {
    height: 100%;
    background: #374785;
}

.fade-image {
    width: 610px;
    height: 325px;
}

@media (max-width: 992px) {
    .fade-image {
        width: 100%;
        height: 100%;
    }
}