.carousel, 
.carousel-inner, 
.carousel-inner .carousel-item {
    height: 100%;
    background: #374785;
}

.fade-image {
    width: 600px;
    height: 350px;
}

.carousel-area {
    background: #374785 !important;
}

.card-scroll {
    min-height: 200px;
    min-width: 337px;
    margin-right: 20px;
}

@media (max-width: 992px) {
    .fade-image {
        width: 100%;
        height: 100%;
    }

    .card {
        padding: 1rem!important;
    }
}